.Archives {
    background-color: rgba(34,84,112,0.35);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    padding: 2%;
    display: flex;
    flex-direction: column;
    grid-area: archives;

}
.Archives p, ul {
    margin: 5px;
}