.Container {
    min-height: 90vh;
    margin: 0 10%;
    padding: 10vh 0 0;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 60vw 20vw;
    grid-template-areas:
        "header header"
        "content archives";
}