.NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

.NavItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    color: #0093B9;
}

@media (min-width: 500px){
    .NavItems{
        flex-flow: row;
    }
}