.Blog { grid-area: content; }

.Blog .FeaturedPost {
    height: 21rem;
    margin: 0 0 1rem;
}

.Blog .Posts {
    height: 9.7em;
}

.Blog .EditOff {
    display: none;
}

.Blog .FeaturedPost {
    grid-template-areas:
    "title thumbnail"
    "details thumbnail"
    "description thumbnail"
}


.Posts{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin: 0 0 1rem;
}

.Blog ul {
    list-style: none;
    margin:0;
    padding:0;
    width: center;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;

}

.Blog a {
    text-decoration: none;
    color: black;

}

.Blog a:hover,
.Blog a:active {
    color: #fa923f;
}
