.Blog {
    grid-area: content;
}
.Blog .FeaturedPost {
    width: 100%;
    height: 350px;
}

.Posts{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}

.Blog ul {
    list-style: none;
    margin:0;
    padding:0;
    width: center;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;

}

.Blog a {
    text-decoration: none;
    color: black;

}

.Blog a:hover,
.Blog a:active {
    color: #fa923f;
}
