.Post {
    box-sizing: border-box;
    cursor: pointer;
    height: 250px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: rgba(34,84,112,0.35);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    padding: 2%;
    display: grid;
    grid-gap: .25em;
    margin-bottom: 2%;
    width: 100%;
}

.FeaturedPost {
    width: 100%;
    border-color: rgba(36, 138, 197, 1);
}

.FullPost:hover,
.FullPost:active {
}

.Post.FeaturedPost:hover,
.Post.FeaturedPost:active {
    border-color: rgba(36, 138, 197, 1);
}

.FeaturedPost:hover,
.FeaturedPost:active {
    border-color: rgba(36, 138, 197, 1);
}

.Card {
	grid-template-columns: 3fr 1fr;
    grid-template-rows:  50px 50px max-content;
    grid-template-areas:
		"title thumbnail"
		"details thumbnail"
		"description description"
}

.CardTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-area: title;
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: 3px;
}

.CardTitle h1{
 margin: 0;
}
.CardDetails {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.CardDetails h2 {
    grid-area: details;
    display: inline-block;
    text-transform: uppercase;
    margin: .25em 0 .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 3px;
    color: #42C3C9;
}

.CardDetails p{
    grid-area: details;
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin: .25em 0;
    line-height: 1;

}

div .CardDescription {
    height: 5.5em;
    overflow: hidden;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    flex: 1;
    grid-area: description;
}

.CardThumbnail {
    grid-area: thumbnail;
    margin: 0;
    position: relative;
}
.CardThumbnail img {
    float: right;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    max-height: 100%;
}
.CardThumbnail img:after  {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}